# Default ignored files
/../../Order-Management-System-using-Java-and-HashSet./.idea/shelf/
/../../Order-Management-System-using-Java-and-HashSet./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Order-Management-System-using-Java-and-HashSet./.idea/httpRequests/
